<nav class="navbar navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<a class="logo-anchor" href="/">
					<div class="header-logo">
						<img src="/img/logo.png" alt="Philosofly logo" />
						<div class="logo-bottom"></div>
					</div>
				</a>
			</div>
			<div class="col-xs-10 header">
				<a class="social" target="_blank" href="{{ site.youtube_url }}"><i class="fa fa-youtube-square"></i></a>
				<a class="social" target="_blank" href="{{ site.facebook_url }}"><i class="fa fa-facebook-square"></i></a>
				<a class="social" target="_blank" href="{{ site.instagram_url }}"><i class="fa fa-instagram"></i></a>
				<a class="social last-social-btn" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square"></i></a>
				<a href="/shop/">shop</a>
				<a href="/about/">about</a>
				<a href="/news/">news</a>
				<a href="/photos/">photos</a>
				<a href="/videos/">videos</a>
				<a href="/music/">music</a>
			</div>
		</div>
	</div>
</nav>
