<nav class="navbar navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-2">
				<a href="/">
					<div class="header-logo">
						<img src="/img/logo.png" alt="Philosofly logo" />
						<div class="logo-bottom"></div>
					</div>
					<div class="header-logo-name">
						<img src="/img/logo-name.png" alt="Philosofly logo" />
					</div>
				</a>
			</div>
			<div class="col-sm-10 col-xs-7 header">
				<a class="social" target="_blank" href="mailto:{{ site.email }}"><i class="fa fa-envelope-square"></i></a>
				<a class="social" target="_blank" href="{{ site.youtube_url }}"><i class="fa fa-youtube-square"></i></a>
				<a class="social" target="_blank" href="{{ site.facebook_url }}"><i class="fa fa-facebook-square"></i></a>
				<a class="social" target="_blank" href="{{ site.instagram_url }}"><i class="fa fa-instagram"></i></a>
				<a class="social last-social-btn" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square"></i></a>
				<a class="hidden-xs" href="/shop/">shop</a>
				<a class="hidden-xs" href="/about/">about</a>
				<!--<a class="hidden-xs" href="/news/">news</a>-->
				<!--<a class="hidden-xs" href="/photos/">photos</a>-->
				<a class="hidden-xs" href="/videos/">videos</a>
				<a class="hidden-xs" href="/music/">music</a>
			</div>
			<div class="col-xs-2">
				<a id="mobile-menu-btn" class="hidden-sm visible-xs mobile-nav"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div id="mobile-menu" class="mobile-menu" style="display: none;">
			<a href="/music/">music</a>
			<a href="/videos/">videos</a>
			<!--<a href="/photos/">photos</a>-->
			<!--<a href="/news/">news</a>-->
			<a href="/about/">about</a>
			<a href="/shop/">shop</a>
		</div>
	</div>
</nav>
